.background-image{
    background-image: url(/front/media/pexels-element5-1370295.jpg);
}
.header{
    background-color: rgba(247, 237, 237, 0.897);
    backdrop-filter: blur(1px);

}
.return-button{
    background-color: #eceaeabb;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border-color: black;
}
.loan-button{
    background-color: #d8d4d4bb;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border-color: black;
}
.loan-button:hover{
    background-color: #96989b8a;

}